body {
  margin: 0;
  cursor: none;
}

body:hover #custom-cursor {
  opacity: 1;
}
#custom-cursor {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 500ms;
}

#custom-cursor::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  border: 1px solid white;
  width: 16px;
  height: 16px;
}

#custom-cursor.zoom {
  transform: scale(3);
}
